html, body {
  height: 100%;
}

body, h1, h3 {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1024px;
  min-height: 600px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
}

::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
    background-color: black;
}

::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: black;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: darkgray;
}

.container {
  height: 100%;
  width: 100%;
}

.row {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.col-1 {
  width:16.66%;
}

.col-2 {
  width:33.33%;
}

.col-3 {
  width: 50%;
}

.col-4 {
  width:66.66%;
}

.col-5 {
  width:83.33%;
}

.col-6 {
  width: 100%;
}

.center {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.title {
  height: 180px;
  display: flex;
  font-size:40px;
}

.button {
  width: 72px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  border-radius: 5px;
}


/* Tag List */

.tag-list {
  background-color: black;
  color: gray;
  width: 20%;
  height: 100%;
}

.tag-list .title {
  text-align: center;
  width:100%;
}

.new-tag {
  margin: auto;
  right: 0;
  width: 32px;
  height: 32px;
  line-height: 28px;
  font-size: 28px;
  border-radius: 50%;
  background-color: black;
  color: gray;
  border: 2.5px solid gray;
}

.tag-list ul {
  font-size: 22px;
  max-height: calc(100% - 400px);
  overflow-y: scroll;
}

.tag-list li .tag-name {
  height:40px;
  text-indent: 15px;
  line-height: 40px;
  color: gray;
}

.tag-list .tag-name.active {
  color: white;
  background-color: gray;
}

.tag-list input {
  width: 80%;
  font-size: 22px;
  height: 40px;
  line-height: 40px;
  text-indent: 15px;
}

.tag-list #edit-tag {
  width: 98%;
}

.delete-tag, .edit-tag {
  width: auto;
}

.delete-tag {
  color: #ee5c42;
}

.edit-tag {
  color: #fff;
}

/*.delete-tag {
  text-align: center;
  margin: 0px;
  height: 40px;
  line-height: 40px;
  background-color: #ee5c42;
  color: #eee;
  width: 40px;
  border-radius: 50%;
}*/

/* Note List */

.note-list {
  border-right: 5px #eee solid;
  width: 35%;
  height: 100%;
}

.note-list .title {
  margin-left: 10px;
  overflow: hidden;
}

.new-note {
  background-color: #1e90ff;
  color: white;
  display: none;
}

.note-list ul {
  padding: 0px 10px;
  max-height: -webkit-calc(100% - 300px);
  overflow-y: auto;
}

.note-list li {
  background-color: #eee;
  margin-bottom: 15px;
}

.note-list li h3 {
  margin: 0;
}

.note-list li a {
  color:black;
  padding: 5px;
}

.note-list li a p {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.note-list li a:focus {
  border: 1px #1e90ff solid;
  background-color: white;
}

.delete-note{
  margin: 0px 0px 3px 50%;
  width:40%;
  height:30px !important;
  line-height: 25px;
  background-color: #ee5c42;
  border-radius: 5px;
}

/* Note Content */

.note-content, .note-edit {
  width: 45%;
  height: 100%;
  display: none;
}

.note-content .title, .note-content .control-area {
  background-color: #ee5c42;
  color: white;
  height: 180px;
}

.edit-note {
  background-color: #AEEEEE;
  color: black;
}

.note-content article {
  padding: 20px 20px;
  font-size: 20px;
  line-height: 30px;
  overflow-y: auto;
  max-height: -webkit-calc(100% - 275px);
  white-space: pre-wrap;
}

#input-title{
  font-size: 20px;
  border-style: none;
  outline: none;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  text-indent: 20px;
}

#save-button,#cancel-button{
  margin: 0px;
  display: inline-block;
  color: #fff;
}

#save-button {
  background-color: #1e90ff;
}

#cancel-button{
  background-color: #ee5c42;
}

#edit-area{
  margin-top: -70px;
  border-style: none;
  overflow-y: auto;
  font-size:18px;
  width: (100% - 40px);
  padding: 10px 20px;
  resize: none;
  height: -webkit-calc(100% - 140px);
  outline: none;
}
